/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font: 1rem/100% Verdana, Helvetica, sans-serif;
}

a, a:visited {
  color: cyan;
}

/* -- */
body {
	font: 1rem/100% Verdana, Arial, sans-serif;
	background-color: darkslategray;
	color:darkorange;
}

.sorry {
	margin:0 auto; 
	text-align: center;
}

.main {
	margin: 1.25rem auto;
}

@media only screen and (max-width: 480px) {
  .main {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.listDisplay {
	margin: 0 auto;
	width: 1240px;
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media only screen and (max-width: 480px) {
  .listDisplay {
    width: 100%;
  }
}

li {margin-bottom: 1rem;}

.breedsList, .imageDisplay {
	display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.imageDisplay {
  width: 450px;
}

.imageDisplay img {
  margin: 0 auto;
  max-width: 450px;
}

@media only screen and (max-width: 480px) {
  .imageDisplay img {
    max-width: 200px;
    grid-template-columns: repeat(1, auto);
  }
  .imageDisplay {
    padding-right: 10px;
  }
}

.breedsList {
	display: grid;
  overflow-y: scroll;
  grid-template-columns: repeat(4, auto);
  height: 450px;
  width: 750px;
  margin-right: 40px;
}

@media only screen and (max-width: 480px) {
  .breedsList {
    width: 100%;
    grid-template-columns: repeat(1, auto);
  }
}

.breedsList button {
	background-color: darkolivegreen;
	color: yellow;
	padding: .5rem;
	width: 150px;
	margin-right: 1rem;
	border: 1px solid #000;
	border-radius: 5px;
	letter-spacing: .15rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 480px) {
  .breedsList button {
    margin: 0;
    width: 125px;
    font-size: .75rem;
    letter-spacing: initial;
    grid-template-columns: repeat(1, auto);
  }
}

.pooch {
	border-radius: 10px;
	box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
}

.pooch, .defaultImage {
  max-width: 400px;
  max-height: 350px;
}
